CarRental/Connected Services/ServiceReference1/CarRentalServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarRentalServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarRentalServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Idcardnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Available" type="xs:boolean" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fuel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kmclock" type="xs:int" />
      <xs:element minOccurs="0" name="Licenseplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rentalpriceperday" type="xs:int" />
      <xs:element minOccurs="0" name="Rentalpriceperhour" type="xs:int" />
      <xs:element minOccurs="0" name="Seats" type="xs:int" />
      <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="ArrayOfRental">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rental" nillable="true" type="tns:Rental" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRental" nillable="true" type="tns:ArrayOfRental" />
  <xs:complexType name="Rental">
    <xs:sequence>
      <xs:element minOccurs="0" name="Advance" type="xs:int" />
      <xs:element minOccurs="0" name="Balance" type="xs:int" />
      <xs:element minOccurs="0" name="Carid" type="xs:int" />
      <xs:element minOccurs="0" name="Clientid" type="xs:int" />
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Datein" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Dateout" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Datetime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Discount" type="xs:int" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Issueby" type="xs:int" />
      <xs:element minOccurs="0" name="Kmin" type="xs:int" />
      <xs:element minOccurs="0" name="Kmout" type="xs:int" />
      <xs:element minOccurs="0" name="Kmsdriven" type="xs:int" />
      <xs:element minOccurs="0" name="Renttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rental" nillable="true" type="tns:Rental" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>